# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea/*
!.idea/scopes

# gradle
build
.gradle

# other
eclipse
*/run/**/*
!*/run/resourcepacks
!*/run/resourcepacks/test
!*/run/resourcepacks/test/*
!*/run/resourcepacks/test/**/*